<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>
<h1>Titles</h1>
{% for element in films %}
    Title: {{ element.title }} <br/>
    Cast: <br/>
    {% for p in element.people %}{{ p.name }}<br/>
    {% empty %}
        No cast members found ..
    {% endfor %}
    <br/><br/>
{% empty %}
    No titles present at the moment, check in a minute ..
{% endfor %}
</body>
</html>